footer
    div <a href="https://github.com/axln/cpusim" target="_blank">CPU SIM</a> &copy; axln 2018-2019. The project is based on the CPU model from the book <a href="http://www.buthowdoitknow.com/" target="_blank">But How Do It Know</a> &copy; J. Clark Scott 2009.
