footer
    div <a href="https://github.com/axln/cpusim" target="_blank">CPUSIM</a> &copy; axln 2018-2019. This project uses CPU model from the book <a href="http://www.buthowdoitknow.com/" target="_blank">But How Do It Know</a> &copy; J. Clark Scott 2009.
