doctype html
html
    head
        meta(charset='utf-8')
        title CPUSIM
        meta(name='description', content='CPUSIM')
        link(rel='stylesheet', href='css/style.css?v=' + version, type='text/css')
        script(type='text/javascript', src='js/script.js?v=' + version)
    body
        block body